<div class="history">
	<h1>HISTORY</h1>
	<p>In 2013, University of Gujrat (Urdu: جامعہ گجرات) established a sub-campus in Sialkot under Public Private Partnership (PPP) mode.[6] Later in 2018, the campus was upgraded to a full-fledged university under private sector.[7][8] Chartered under the University of Sialkot Act (IX) of 2018, the university is providing higher learning in the areas of Computing & IT, Engineering & Architecture, Humanities & Social Sciences, Law, Management, Textile & Fashion Design, Sciences and Allied Health Sciences. With 08 Faculties, 30 Academic Departments, 94 Academic Programs, and around 10,000 Students.</p>
</div>
<div class="programs">
	<h1>FACULITIES & COURSES</h1>
	<h2>Faculty of Allied Health Sciences</h2>
	<h4>ADP Sports and Rehabilitation Sciences<br>
Doctor of Physiotherapy (5 Year)<br>
BS Dietitian and Nutrition<br>
BS Imaging Technology<br>
BS Medical Lab Technology<br></h4>
</div>
<div class="program2">
	<h2>Faculty of Computing & Information Technology</h2>
	<h4>ADP Computer Science<br>
ADP Information Technology Studies<br>
ADP Computer Programming<br>
ADP Software Development<br>
BS Computer Science<br>
BS Information Technology<br>
BS Software Engineering<br>
MS Computer Science<br>
Ph.D. Computer Science</h4>
<div class="program3">
	<h2>Faculty of Humanities & Social Science</h2>
	<h4>ADP Media and Communication Studies<br>
ADP English<br>
BS English<br>
BS Clinical Psychology<br>
BS Media and Communication<br>
BS International Relations<br>
BS Urdu<br>
MS English<br>
MS Islamic Studies<br>
MS Education<br>
MS Urdu<br>
MS International Relations</h4>
</div>
</div>